.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.383301;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.981934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.052734;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls3{letter-spacing:-0.384000px;}
.ls5{letter-spacing:-0.288000px;}
.ls6{letter-spacing:-0.048000px;}
.ls0{letter-spacing:0.000000px;}
.ls2{letter-spacing:0.096000px;}
.ls4{letter-spacing:0.144000px;}
.ls1{letter-spacing:0.192000px;}
.ls7{letter-spacing:13.160000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.347840px;}
._3{width:1.136000px;}
._5{width:11.513600px;}
._2{width:12.576000px;}
._4{width:13.584000px;}
._1{width:58.592000px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:20.160000px;}
.fs3{font-size:44.160000px;}
.fs0{font-size:48.000000px;}
.fs1{font-size:56.160000px;}
.yb{bottom:3.240000px;}
.y16{bottom:3.270000px;}
.y30{bottom:3.350000px;}
.y13{bottom:3.360000px;}
.y11{bottom:3.480000px;}
.y5{bottom:3.720000px;}
.y28{bottom:4.080000px;}
.y20{bottom:4.680000px;}
.y19{bottom:5.520000px;}
.y1b{bottom:6.120000px;}
.y33{bottom:9.350000px;}
.y9{bottom:14.520000px;}
.y1e{bottom:17.880000px;}
.y2f{bottom:17.990000px;}
.y27{bottom:18.720000px;}
.y18{bottom:20.160000px;}
.y32{bottom:23.990000px;}
.y39{bottom:25.440000px;}
.y8{bottom:29.160000px;}
.y3c{bottom:31.560000px;}
.y2e{bottom:32.630000px;}
.y26{bottom:33.360000px;}
.y1d{bottom:35.880000px;}
.y31{bottom:38.750000px;}
.y38{bottom:40.080000px;}
.y7{bottom:43.800000px;}
.y2d{bottom:45.470000px;}
.y3b{bottom:46.200000px;}
.y0{bottom:50.000000px;}
.y24{bottom:54.020000px;}
.y37{bottom:54.720000px;}
.y3a{bottom:60.840000px;}
.y3d{bottom:62.880000px;}
.yf{bottom:63.150000px;}
.y35{bottom:65.630000px;}
.y23{bottom:67.580000px;}
.y2b{bottom:68.540000px;}
.y36{bottom:73.680000px;}
.y22{bottom:80.420000px;}
.ye{bottom:80.790000px;}
.y34{bottom:146.430000px;}
.y2c{bottom:226.950000px;}
.y2a{bottom:277.590000px;}
.y29{bottom:361.010000px;}
.y25{bottom:376.250000px;}
.y21{bottom:421.490000px;}
.y1f{bottom:507.070000px;}
.y1c{bottom:525.190000px;}
.y1a{bottom:554.950000px;}
.y17{bottom:572.950000px;}
.yd{bottom:604.990000px;}
.y15{bottom:620.140000px;}
.y14{bottom:635.500000px;}
.y12{bottom:650.620000px;}
.y10{bottom:665.860000px;}
.y6{bottom:681.220000px;}
.yc{bottom:700.660000px;}
.ya{bottom:718.780000px;}
.y4{bottom:737.500000px;}
.y3{bottom:758.500000px;}
.y2{bottom:772.320000px;}
.y1{bottom:785.880000px;}
.hc{height:14.630000px;}
.hd{height:14.655000px;}
.hb{height:14.750000px;}
.ha{height:14.870000px;}
.h13{height:16.202813px;}
.h4{height:17.030000px;}
.hf{height:17.520000px;}
.h8{height:17.630000px;}
.h18{height:17.630156px;}
.h11{height:29.280000px;}
.he{height:31.560000px;}
.h14{height:38.618437px;}
.h7{height:41.976562px;}
.h15{height:44.750000px;}
.h5{height:45.136406px;}
.h10{height:47.280000px;}
.h3{height:49.898438px;}
.h17{height:50.150000px;}
.h2{height:50.671875px;}
.h6{height:55.190000px;}
.h1a{height:72.264000px;}
.h19{height:80.030000px;}
.h16{height:82.934000px;}
.h12{height:85.100000px;}
.h9{height:95.175000px;}
.h1{height:792.000000px;}
.h0{height:841.920000px;}
.wa{width:54.350000px;}
.w8{width:79.454000px;}
.w7{width:87.983000px;}
.wb{width:91.454000px;}
.wc{width:93.260000px;}
.w9{width:107.660000px;}
.w5{width:127.099000px;}
.w6{width:148.720000px;}
.w4{width:240.280000px;}
.we{width:242.440000px;}
.wf{width:252.169000px;}
.w10{width:264.430000px;}
.wd{width:274.149000px;}
.w3{width:276.069000px;}
.w2{width:516.599000px;}
.w1{width:584.500000px;}
.w0{width:595.320000px;}
.x0{left:0.000000px;}
.x4{left:4.919000px;}
.x7{left:19.559000px;}
.x9{left:20.759000px;}
.xa{left:22.079000px;}
.x11{left:26.420000px;}
.x2{left:36.000000px;}
.x6{left:115.459000px;}
.xb{left:124.950000px;}
.x8{left:163.830000px;}
.x3{left:193.729000px;}
.xc{left:204.890000px;}
.x10{left:288.650000px;}
.x1{left:297.670000px;}
.xf{left:310.640000px;}
.x5{left:312.800000px;}
.xd{left:367.880000px;}
.xe{left:459.820000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls3{letter-spacing:-0.512000pt;}
.ls5{letter-spacing:-0.384000pt;}
.ls6{letter-spacing:-0.064000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls2{letter-spacing:0.128000pt;}
.ls4{letter-spacing:0.192000pt;}
.ls1{letter-spacing:0.256000pt;}
.ls7{letter-spacing:17.546667pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-1.797120pt;}
._3{width:1.514667pt;}
._5{width:15.351467pt;}
._2{width:16.768000pt;}
._4{width:18.112000pt;}
._1{width:78.122667pt;}
.fs2{font-size:26.880000pt;}
.fs3{font-size:58.880000pt;}
.fs0{font-size:64.000000pt;}
.fs1{font-size:74.880000pt;}
.yb{bottom:4.320000pt;}
.y16{bottom:4.360000pt;}
.y30{bottom:4.466667pt;}
.y13{bottom:4.480000pt;}
.y11{bottom:4.640000pt;}
.y5{bottom:4.960000pt;}
.y28{bottom:5.440000pt;}
.y20{bottom:6.240000pt;}
.y19{bottom:7.360000pt;}
.y1b{bottom:8.160000pt;}
.y33{bottom:12.466667pt;}
.y9{bottom:19.360000pt;}
.y1e{bottom:23.840000pt;}
.y2f{bottom:23.986667pt;}
.y27{bottom:24.960000pt;}
.y18{bottom:26.880000pt;}
.y32{bottom:31.986667pt;}
.y39{bottom:33.920000pt;}
.y8{bottom:38.880000pt;}
.y3c{bottom:42.080000pt;}
.y2e{bottom:43.506667pt;}
.y26{bottom:44.480000pt;}
.y1d{bottom:47.840000pt;}
.y31{bottom:51.666667pt;}
.y38{bottom:53.440000pt;}
.y7{bottom:58.400000pt;}
.y2d{bottom:60.626667pt;}
.y3b{bottom:61.600000pt;}
.y0{bottom:66.666667pt;}
.y24{bottom:72.026667pt;}
.y37{bottom:72.960000pt;}
.y3a{bottom:81.120000pt;}
.y3d{bottom:83.840000pt;}
.yf{bottom:84.200000pt;}
.y35{bottom:87.506667pt;}
.y23{bottom:90.106667pt;}
.y2b{bottom:91.386667pt;}
.y36{bottom:98.240000pt;}
.y22{bottom:107.226667pt;}
.ye{bottom:107.720000pt;}
.y34{bottom:195.240000pt;}
.y2c{bottom:302.600000pt;}
.y2a{bottom:370.120000pt;}
.y29{bottom:481.346667pt;}
.y25{bottom:501.666667pt;}
.y21{bottom:561.986667pt;}
.y1f{bottom:676.093333pt;}
.y1c{bottom:700.253333pt;}
.y1a{bottom:739.933333pt;}
.y17{bottom:763.933333pt;}
.yd{bottom:806.653333pt;}
.y15{bottom:826.853333pt;}
.y14{bottom:847.333333pt;}
.y12{bottom:867.493333pt;}
.y10{bottom:887.813333pt;}
.y6{bottom:908.293333pt;}
.yc{bottom:934.213333pt;}
.ya{bottom:958.373333pt;}
.y4{bottom:983.333333pt;}
.y3{bottom:1011.333333pt;}
.y2{bottom:1029.760000pt;}
.y1{bottom:1047.840000pt;}
.hc{height:19.506667pt;}
.hd{height:19.540000pt;}
.hb{height:19.666667pt;}
.ha{height:19.826667pt;}
.h13{height:21.603750pt;}
.h4{height:22.706667pt;}
.hf{height:23.360000pt;}
.h8{height:23.506667pt;}
.h18{height:23.506875pt;}
.h11{height:39.040000pt;}
.he{height:42.080000pt;}
.h14{height:51.491250pt;}
.h7{height:55.968750pt;}
.h15{height:59.666667pt;}
.h5{height:60.181875pt;}
.h10{height:63.040000pt;}
.h3{height:66.531250pt;}
.h17{height:66.866667pt;}
.h2{height:67.562500pt;}
.h6{height:73.586667pt;}
.h1a{height:96.352000pt;}
.h19{height:106.706667pt;}
.h16{height:110.578667pt;}
.h12{height:113.466667pt;}
.h9{height:126.900000pt;}
.h1{height:1056.000000pt;}
.h0{height:1122.560000pt;}
.wa{width:72.466667pt;}
.w8{width:105.938667pt;}
.w7{width:117.310667pt;}
.wb{width:121.938667pt;}
.wc{width:124.346667pt;}
.w9{width:143.546667pt;}
.w5{width:169.465333pt;}
.w6{width:198.293333pt;}
.w4{width:320.373333pt;}
.we{width:323.253333pt;}
.wf{width:336.225333pt;}
.w10{width:352.573333pt;}
.wd{width:365.532000pt;}
.w3{width:368.092000pt;}
.w2{width:688.798667pt;}
.w1{width:779.333333pt;}
.w0{width:793.760000pt;}
.x0{left:0.000000pt;}
.x4{left:6.558667pt;}
.x7{left:26.078667pt;}
.x9{left:27.678667pt;}
.xa{left:29.438667pt;}
.x11{left:35.226667pt;}
.x2{left:48.000000pt;}
.x6{left:153.945333pt;}
.xb{left:166.600000pt;}
.x8{left:218.440000pt;}
.x3{left:258.305333pt;}
.xc{left:273.186667pt;}
.x10{left:384.866667pt;}
.x1{left:396.893333pt;}
.xf{left:414.186667pt;}
.x5{left:417.066667pt;}
.xd{left:490.506667pt;}
.xe{left:613.093333pt;}
}
